<div class="card-body">
    <table id="teamMovilidadTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            <!-- Usuario 1 -->
            <tr>
                <td style="background-color: #D4E6F1; font-weight: bold;">
                    
                    BRENDA
                    <button type="button" class="btn btn-tool" onclick="openCreateModal()" title="Crear nuevo registros">
                        Crear nuevo registros
                    </button>
                </td>
               
            </tr>
            <tr>
                <td>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>De Lay</th>
                                <th>Cuenta</th>
                                <th>Placas</th>
                                <th>Cilind</th>
                                <th>Ano</th>
                                <th>Chasis</th>
                                <th>Cedula</th>
                                <th>Nombre Completo</th>
                                <th>Celular</th>
                                <th>Correo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2222</td>
                                <td>1111</td>
                                <td>ZOE37D</td>
                                <td>149</td>
                                <td>2016</td>
                                <td>780878065</td>
                                <td>3023488884</td>
                                <td>YEIMER DIAZ</td>
                                <td>3104528981</td>
                                <td>correo1@gmail.com</td>
                            </tr>
                            <tr>
                                <td>3333</td>
                                <td>2222</td>
                                <td>LXF01D</td>
                                <td>109</td>
                                <td>2017</td>
                                <td>45753016</td>
                                <td>3104528982</td>
                                <td>NASLY LERET</td>
                                <td>3104528982</td>
                                <td>correo2@gmail.com</td>
                            </tr>
                            <!-- Agrega otros registros -->
                        </tbody>
                    </table>
                </td>
            </tr>

            <!-- Usuario 2 -->
            <tr>
                <td>OFICINA</td>
            </tr>
            <tr>
                <td>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>De Lay</th>
                                <th>Cuenta</th>
                                <th>Placas</th>
                                <th>Cilind</th>
                                <th>Ano</th>
                                <th>Chasis</th>
                                <th>Cedula</th>
                                <th>Nombre Completo</th>
                                <th>Celular</th>
                                <th>Correo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>1111</td>
                                <td>3333</td>
                                <td>LE085D</td>
                                <td>149</td>
                                <td>2014</td>
                                <td>780878065</td>
                                <td>3023488884</td>
                                <td>JOSE LOPEZ</td>
                                <td>3023488884</td>
                                <td>correo3@gmail.com</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>4444</td>
                                <td>4444</td>
                                <td>LE085E</td>
                                <td>97</td>
                                <td>2015</td>
                                <td>366515538</td>
                                <td>386515538</td>
                                <td>ROSA GUERRERO</td>
                                <td>386515538</td>
                                <td>correo4@gmail.com</td>
                            </tr>
                            <!-- Agrega otros registros -->
                        </tbody>
                    </table>
                </td>
            </tr>

            <!-- Usuario 3 -->
            <tr>
                <td>BRENDA 2</td>
            </tr>
            <tr>
                <td>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>De Lay</th>
                                <th>Cuenta</th>
                                <th>Placas</th>
                                <th>Cilind</th>
                                <th>Ano</th>
                                <th>Chasis</th>
                                <th>Cedula</th>
                                <th>Nombre Completo</th>
                                <th>Celular</th>
                                <th>Correo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>5555</td>
                                <td>5555</td>
                                <td>BRY71F</td>
                                <td>149</td>
                                <td>2019</td>
                                <td>780878065</td>
                                <td>3104528983</td>
                                <td>JANIER NOREÑA</td>
                                <td>3104528983</td>
                                <td>correo5@gmail.com</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>6666</td>
                                <td>6666</td>
                                <td>KRT19E</td>
                                <td>97</td>
                                <td>2017</td>
                                <td>366515538</td>
                                <td>3104528984</td>
                                <td>EDUARDO PELUFO</td>
                                <td>3104528984</td>
                                <td>correo6@gmail.com</td>
                            </tr>
                            <!-- Agrega otros registros -->
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>