
{% extends 'adminlte/base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block head %}
<!-- Cargar los estilos específicos del login -->
<link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
{% endblock %}

{% block body_class %}hold-transition login-page{% endblock %}
{% block navbar %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
<div class="login-box mt-5">
    <div class="login-logo">
        <a href="#"><b>Seguros</b></a>
    </div>
    <div class="card mt-5">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form id="loginForm">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input name="username" id="username" type="text" class="form-control username" placeholder="Usuario" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="password" id="password" type="password" class="form-control password" placeholder="Password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-block" onclick="handleLogin()">Sign In</button>
                    </div>
                </div>
                <div id="errorMessages" class="alert alert-danger mt-2 d-none" role="alert"></div>
            </form>
            

        </div>
    </div>
</div>

<script src="{% static 'js/login/auth.js' %}"></script>

{% endblock %}
