{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AdminLTE{% endblock %}</title>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
    {% block head %}
    <!-- Additional CSS -->
    {% endblock %}
</head>
<body class="{% block body_class %}hold-transition sidebar-mini layout-fixed{% endblock %}">
    <div class="wrapper">
        {% block navbar %}{% endblock %}

        {% block sidebar %}
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <a href="#" class="brand-link">
                    <span class="brand-text font-weight-light">AdminLTE</span>
                </a>
                <div class="sidebar">
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt" aria-hidden="true"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'usermanagement:user_list' %}" class="nav-link active">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <p>Usuarios</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'labelcolors:list_label' %}" class="nav-link active">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                    <p>Etiquetas de colores</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
        {% endblock %}


        {% block content %}{% endblock %}
     
        
        {% block footer %}{% endblock %}
    </div>
    <!-- Global JS -->
    <script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>
    {% block scripts %}
    <!-- Additional JS -->
    {% endblock %}
</body>
</html>
