{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block head %}
<!-- Estilos específicos del Dashboard -->
<link rel="stylesheet" href="{% static 'adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte/plugins/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'adminlte/plugins/summernote/summernote-bs4.css' %}">
<style>
    img.table-avatar,
        .table-avatar img {
        border-radius: 50%;
        display: inline;
        width: 2.5rem;
        }
    
        
        .project-state {
        text-align: center;
        }
</style>
{% endblock %}


{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Etiquetas de colores</h4>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Información de los colores</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" onclick="openCreateModal()" title="Crear nuevo color">
                                Crear nuevo color
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="labelColorTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Color</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

    <!-- MODAL LABELCOLOR -->
    <div class="modal fade" id="labelColorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title text-white" id="modalTitle">Crear Nuevo Color</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="card card-info m-0">
                        <!-- Form start -->
                        <form id="labelColorForm" class="form-horizontal">
                            {% csrf_token %}
                            <div class="card-body">
                                <!-- Campo de Nombre -->
                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">Nombre</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required>
                                        <input type="hidden" id="labelColorId">
                                    </div>
                                </div>

                                <!-- Campo de Color -->
                                <div class="form-group row">
                                    <label for="color" class="col-sm-2 col-form-label">Color</label>
                                    <div class="col-sm-10">
                                        <input type="color" class="form-control" id="color" name="color" required>
                                    </div>
                                </div>

                                <!-- Campo de Descripción -->
                                <div class="form-group row">
                                    <label for="description" class="col-sm-2 col-form-label">Descripción</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="description" name="description" placeholder="Descripción"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- Botones de acción -->
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary" id="saveButton" onclick="saveLabelColor()">Guardar</button>
                                <button type="button" class="btn btn-default float-right" data-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL LABELCOLOR -->

    <!-- MODAL DELETE -->
    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Confirmar Eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar este color?</p>
                    <input type="hidden" id="deleteLabelColorId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="deleteLabelColor()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>    
    <!-- END MODAL DELETE -->
</div>
{% endblock %}


{% block scripts %}
<!-- Scripts específicos del Dashboard -->
<script src="{% static 'adminlte/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'adminlte/dist/js/pages/dashboard.js' %}"></script>

<!-- DataTables -->
<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>

<script src="{% static 'js/labelColors/labelColors.js' %}"></script>

<script>
    $(function () {
        $("#labelColorTable").DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
            }
        });
    });
  </script>
{% endblock %}
